body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial";
  box-sizing: border-box;
  background-color: white;
  font-weight: 300;
  font-size: 20px;
  color: #555;
}

/* =========================== */
/* HEADER */
/* =========================== */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(image/hero-min.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}

.menu {
  display: flex;
  margin: auto;
  max-width: 1140px;
  position: relative;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 50%;
  list-style-type: none;
  align-self: center;
  position: absolute;
  left: 45%;
}

.logo {
  height: 100px;
  justify-content: end;
  margin-top: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  transition-delay: 0.2s;
  padding-bottom: 10px;
}

.menu a:hover {
  border-bottom: 2px solid #e67e22;
  
}

.text_banniere {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text_banniere h1 {
  color: white;
  font-size: 240%;
}

.text_banniere .button_a {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  margin-right: 15px;
  border-radius: 200px;
  padding: 10px 30px;
  color: white;
  font-family: "Lato";
  font-size: 20px;
  font-weight: 300;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.text_banniere .button_b {
  background-color: transparent;
  border: 1px solid #e67e22;
  margin-right: 15px;
  border-radius: 200px;
  padding: 10px 30px;
  color: #e67e22;
  font-family: "Lato";
  font-size: 20px;
  font-weight: 300;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.text_banniere .button_a:hover {
  background-color: #cc670e;
  border: 1px solid #cc670e;
}

.text_banniere .button_b:hover {
  background-color: #e67e22;
  color: white;
}

/* <!-- =========================================================== -->
                        <!-- Premiere Section -->
  <!-- =========================================================== --> */

.feature {
  
  width: 100%;
  position: relative;
  padding-top: 80px;
}

.top {
  width: 1140px;
  margin: 0 auto;
}

.top h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 180%;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.trait {
  width: 100px;
  height: 2px;
  background-color: #e67e22;
  margin: 30px auto;
}

.top p {
  padding-left: 15%;
  line-height: 145%;
  width: 70%;
  padding-bottom: 30px;
}

.bot {
  display: flex;
  width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
}



.card, .card1 {
  padding: 5px;
  width: 250px;
  margin-bottom: 10px;
  
}

.card1 {
  padding-top: 45px;
}

.bot h3 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 110%;
}

.bot p {
  font-size: 90%;
  line-height: 145%;
}

/* <!-- =========================================================== -->
<!-- Deuxieme Section -->
<!-- =========================================================== --> */

.container_img {
  width: 100%;
  padding: 80px 0 0 0;
  margin: 0;
  
}

.ul_img { 
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  background-color: black;
  
  
}

.ul_img li {
  overflow: hidden;
}

.ul_img img {
    width: 100%;
    opacity: 0.7;
    transition: transform 0.5s, opacity 0.5s;
    transform: scale(1.15);
    
  }

.ul_img img:hover {
  opacity: 1;
  transform: none;
  
  
}

